<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
  <div class="row justify-content-around mb-3">
    <div class="col-11 col-sm-6 error-explanation" >
    <div id="error-explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
  <% end %>

  <div class="actions">
    <%= form_tag action: "create" do %>
    <p><label for="user_name"> Name</label>
    <%= text_field 'users', 'name' %> </p>
    <%= form.submit %>
    <% end %>
  </div>
<% end %>
