<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div id="profilePicture" class="col-sm-12 pb-1">
            <%= image_tag(@user.avatar, :alt => "Profile picture", class: "img-fluid rounded-profile" )%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"></div>
        </div>
      </div>

      <div id="stats" class="col-sm-9 pb-3">
        <div class="row">
          <div id="nameStat" class="col-sm-8 col-8">
            <h1><%= @user.name %></h1>
          </div>
          <div class="col-4">
          <%= if @user.id == current_user.id;
             link_to svg('edit-2'), edit_user_path, class: "btn float-right"
           else
             link_to svg('user-plus'), edit_user_path, class: "btn float-right" end %>
          </div>
        </div>
        <div class="panel pb-3">
          <div class="row">
            <div class="col-sm-4 col-6">Age</div>
            <div id="age" class="col-sm-8 col-6">
              <%= age(@user.birthday) %></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6">Base</div>
            <div id="baseStat" class="col-sm-8 col-6"><%= @user.base %></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6">Kilometers hitchhiked</div>
            <div id="kmstat" class="col-sm-8 col-6"><%= @user.km %></div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6">Countries hitchhiked</div>
            <div id="countryStat" class="col-sm-8 col-6"><%= @user.countries %></div>
          </div>
        </div>
      </div>

    </div>
    <%= render 'shared/map_panel' %>
  </div>
</div>
