<div class="panel pb-2">
  <div class="row ">
    <div class="col-sm-3">

      <div class="row">
        <%= render "shared/map_navigation" %>
        <div class="col-2">

        </div>
        <div class=" col-4 col-sm-12 pb-2">
          <div class="btn-group d-flex " role="group">
            <%= link_to "+ Tramptour", "", class: "btn btn-info w-100", role: "button" %>
            <%= link_to "+ Post", new_post_path, class: "btn btn-info w-100", role: "button" %>
          </div>
        </div>
      </div>

    </div>
    <div id="hhTourPanel" class="col-sm-9">
      <div class="row">
        <div class="col-sm-8 col-10 pt-2">
          <h4>Meine erste Tour</h4>
        </div>
        <div class="col-sm-4 col-2">
          <div class="btn-group float-right" role="group">
            <button class="btn btn-info" type="submit"><%= svg "edit-2" %></button>
            <button class="btn btn-info" type="submit"><%= svg "delete" %></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-10 py-2">
          <div class="mapStats ">
            <div class="row">
              <div class="col-sm-3 col-6 mapStatsItem">
                Start
              </div>
              <div id="start" class="col-sm-3 col-6">
                Köln
              </div>
              <div class="col-sm-3 col-6 mapStatsItem">
                Destination
              </div>
              <div id="destination" class="col-sm-3 col-6">
                Frankfurt
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-6 mapStatsItem">
                Time
              </div>
              <div id="duration" class="col-sm-3 col-6">
                4 h
              </div>
              <div class="col-sm-3 col-6 mapStatsItem">
                Stops
              </div>
              <div id="amountStops" class="col-sm-3 col-6">
                3
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 pb-2 map">
          <div id="embedmap-display" style="height:100%; width:100%;max-width:100%;">
            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=Köln,+Deutschland&destination=Frankfurt+am+Main,+Deutschland&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="text" class="col-sm-8">
          <p>Dies ist ein wichtiger Text übers Trampen. Trampen ist super toll. Nichts ist toller als Trampen. Es ist gesund, weil man ist viel an der frischen Luft. Sonne kriegt man auch ab. Nette Menschen lernt man kennen.</p>
        </div>
        <div id="picture" class="col-sm-4">
          pic
        </div>
      </div>
    </div>
  </div>
</div>
