<div class="row py-2 justify-content-end ">
  <div class="col-12 col-sm-10 py-2 hh-stats-form">

    <a data-toggle="collapse" class="hh-link" href="#hh-stats-collapse" aria-expanded="false" aria-controls="hh-stats-collapse">
      <h5 class="mb-0"><%= svg 'chevron-down' %>Hitchhiking Attributes</h5>
    </a>

    <div id="hh-stats-collapse" class="collapse ">
      <div class=" card-body">

        <%= form.fields_for :hh_attribute do |h| %>
        <div class="row pb-2">
          <%= h.fields_for :start_location do |s| %>
          <div class="col-6">
            <%= s.label :address,"Starting Point" %>
          </div>
          <div class="col-6">
            <%= s.text_field :address, class: "form-control" %>
          </div>
          <% end %>
        </div>
        <div class="row pb-2">
          <%= h.fields_for :destination_location do |d| %>
          <div class="col-6">
            <%= d.label :address, "Destination" %>
          </div>
          <div class="col-6">
            <%= d.text_field :address, class: "form-control" %>
          </div>
          <% end %>
        </div>
        <div class="row pb-2">
          <div class="col-6">
            <%= h.label :lifts %>
          </div>
          <div class="col-6">
            <%= h.text_field :lifts, class: "form-control" %>
          </div>
        </div>
        <div class="row pb-2  ">
          <div class="col-6">
            <%= h.label :time %>
          </div>
          <div class="col-6">
            <%= h.text_field :time, class: "form-control" %>
          </div>
        </div>

        <%= submit_tag "Reset", type: :reset %>
      <% end %>

    </div>
  </div>
</div>
</div>
