<div class="row justify-content-around">
  <div class="col-12 col-sm-10 panel">
    <h2 class="title text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% if alert %>
      <div class="row">
        <div class="col-8 m-2 p-2">

          <p class="error-explanation m-2 p-4">
            <%= devise_error_messages! %></p>
        </div>
      </div>
    <% end %>

    <div class="row pt-2">
      <div class="col-3">
        <%= f.submit "Reset Password", class: "btn ml-4" %>
      </div>
      <div class="col-12 col-sm-10 col-md-8">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>

    </div>

  <% end %>
  <div class="row justify-content-around">

    <div class="col-2 pt-2">
      <%= link_to "Log in", sign_in_path %>
      <%= link_to " Sign up", sign_up_path %>
    </div>
  </div>
</div>
</div>
