<h1>Registrierung</h1>

<div class="row">
  <div class="col-12">
    <%= form_for @user, url: {action: "create"} do |u| %>
    <div class="form-group">
      <div class="row">
        <div class="col-4">
          <%= u.label :email, "Email-Adresse" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :email, class: "form-control" %>
        </div>
        <div class="col-4">
          <%= u.label :password, "Passwort" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :password, class: "form-control" %>
        </div>
        <div class="col-4">
          <%= u.label :password_confirmation, "Passwort wiederholen" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="col-4">
          <%= u.label :name, "Name" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= u.label :birthday, "Geburtsdatum" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :birthday, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= u.label :base, "Basis" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :base, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= u.label :countries, "Länder betrampt" %>
        </div>
        <div class="col-8 py-1">
          <%= u.text_field :countries, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= u.submit "Registrieren", class: "btn btn-default"%>
  <% end %>
</div>
</div>

<%= link_to 'Back', users_path, class: "badge" %>
