<!DOCTYPE html>
<html>
  <head>
    <style>
@import url('https://fonts.googleapis.com/css?family=Exo+2');
</style>
    <title>Hitchhiking</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container ">
      <div class="row ">
        <div class="col-12 pb-3">
          <%= render "shared/main_navigation" %>
        </div>
      </div>
      <div class="row " >
        <div class="col-12  ">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
