<%# this is the layout everything is based on %>
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hitchhiking</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>  @import url('https://fonts.googleapis.com/css?family=Exo+2');
    </style>
  </head>

  <body>
    <div class="container ">
      <div class="row ">
        <div class="col-12 pb-3">
          <%# main navigation as a partial is rendered %>
          <%= render "shared/main_navigation" %>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <%# content that is requested through URI is rendered %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <%# footer as a partial is rendered %>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
