<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "sessions", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sessions', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-12 ">
          <span>
            <a href="#">Login</a>
            |
            <%= link_to "Registrierung", controller: "users", action:"new" %>
          </span>
        </div>
      </div>
      <div class="vertical-center">
        <div class="col-12">
          <div class="row">

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
