<div class="row">
  <div class="col-11 pb-1">
    <span class="title">
      <%= @simple_post.title %></span>
    <span class="date"><%= @simple_post.created_at.strftime("%e.%m.%Y, %H:%M h") %></span>
    <% if @simple_post.created_at != @simple_post.updated_at%>
      <span class="date"><%= @simple_post.updated_at.strftime("| Updated: %e.%m.%Y, %H:%M h") %></span>
    <% end %>
  </div>
</div>



<!-- slider für posts: gucken ob überhaupt bilder da sind, dann erstes element muss active in der klasse haben -->
<% if  !@simple_post.pictures[0].nil? %>
  <div class="row py-2">
    <div class="col-12 col-sm-10">
      <div class="row justify-content-around">
        <div class="col-sm-6">
          <div id="postCarouselControls" class="carousel slide" data-ride:"carousel"="data-ride:">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <%= image_tag @simple_post.pictures[0], alt: "Pictures of Post", class: "d-block w-100 rounded-picture" %>
              </div>
              <% if  !@simple_post.pictures[1].nil? %>
                <% @simple_post.pictures.drop(1).each do |p| %>
                  <div class="carousel-item ">
                    <%= image_tag p, alt: "Pictures of Post", class: "d-block w-100 rounded-picture" %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#postCarouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#postCarouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row pb-2">
  <div class="col-12 col-sm-10">
    <%= @simple_post.text %>
  </div>
</div>
