<%# the view of simple post %>
<div class="row m-0">
  <div class="col-12 pb-1">
    <span class="title">
      <%= @simple_post.title %></span>
    <span class="date"><%= @simple_post.created_at.strftime("%e.%m.%Y, %H:%M h") %></span>
    <% if @simple_post.created_at != @simple_post.updated_at%>
      <span class="date"><%= @simple_post.updated_at.strftime("| Updated: %e.%m.%Y, %H:%M h") %></span>
    <% end %>
  </div>
</div>

<%# in case the post has hh_attribute it is rendered %>
<% if @simple_post.hh_attribute %>
  <%= render partial: "simple_posts/shared/hh_attribute", locals: {hh_attribute: @simple_post.hh_attribute} %>
<% end %>
<%# in case the post has pictures they is rendered %>
<% if  @simple_post.pictures[0] %>
  <%= render partial: "simple_posts/shared/pictures", locals: {simple_post: @simple_post} %>
<% end %>

<div class="row pt-2 m-0">
  <div class="col-sm-12 ">
    <p>
      <%= @simple_post.text %></p>
  </div>
</div>
